<header class="toolbar">
    <h1>Happy Herbivore Shopping List</h1>
</header>
<div id="content">
    <div class="scroll">
        <ul class="rounded">
            <li class="arrow"><a href="#/recipes" class="slideup">Recipes <small class="counter">145</small></a></li>
            <li class="arrow"><a href="#/shoplist" data-role="button" data-theme="a">Shopping List <small class="counter">5</small></a></li>
            <li class="arrow"><a href="#/favorites" data-role="button" data-theme="a">Favorites <small class="counter">12</small></a></li>
        </ul>
        <h2>Web sites</h2>
        <ul class="rounded">
            <li class="forward"><a target="_blank" href="http://happyherbivore.com/" style="">Happy Herbivore</a></li>
            <li class="forward"><a target="_blank" href="http://www.getmealplans.com/" style="">7-Day Meal Plans</a></li>
        </ul>
        <ul class="individual">
            <li><a target="_blank" href="http://twitter.com/!#/happyherbivore" style="">@happyherbivore</a></li>
            <li><a target="_blank" href="http://facebook.com/happyherbivoreblog" style="">Happy Herbivore Facebook</a></li>
        </ul>
        <div class="info">
            <p>All rights reserved. Happy Herbivore Inc</p>
        </div>
    </div>        
</div>
