    <div id="content">
        <ul>
            <li class="arrow plastic" ng-repeat="recipe in recipes">
                <a href="#/recipes/{{ recipe.id }}" ng-click='recipeDetail(recipe)'><h3>{{ recipe.recipe_name }}</h3></a>
                <small><button ng-click="addRecipe2List(recipe)">Add Recipe</button></small>
                <!-- <p>Servings: {{ recipe.recipe_servings }}</p> -->
            </li>
        </ul>
    </div>

            <!--<ul>
              <li ng-repeat="ing in recipe.ingredients">{{ ing.ri_amount }} {{ ing.measurement.m_name }} {{ ing.ingred_name.ingred_name }}</li>
          </ul>-->

    <!--
    <form ng-submit="addListItem()">
      <input ng-model="shopList.add2List">
      <input class="btn-primary" type="submit" value="add">
      {{ add2List }}
  </form>-->

<!--
    <div style="float:right; top:100;position:absolute; right:30px;" ng-controller="TodoCtrl">
    <form ng-submit="addTodo()">
        <input type="text" ng-model="addt"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
-->
